.wrap {
  display: inline-flex;
  border: 1px solid #cfd8dc;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
}

.btn {
  padding: 8px 10px;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-weight: 800;
  color: #002f34;
}

.active {
  background: #002f34;
  color: #fff;
}
