.btn {
  border: 0;
  border-radius: 4px;
  padding: 10px 14px;
  cursor: pointer;
  font-weight: 700;
}

.primary {
  background: #002f34;
  color: #fff;
}

.secondary {
  background: #fff;
  color: #002f34;
  border: 1px solid #002f34;
}
